body {
    background-color: #cfd8dc;
    font-family: "Raleway"
}

.home-center {
    width: 100%;
    max-width: 1080px;
    margin: 0 auto;
    padding: 0 10px;
}

.home-center p, .home-center li {
    font-size: 16px;
}

